html, body {
    height: 100%;
    min-height: 30rem;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, sans-serif;
    color: #000000;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-top: 15rem;
    box-sizing: border-box;
}

.content {
    width: 35rem;
}

ul.sites {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.posts span {
    margin-right: 1rem;
}

a {
    color: #104e8e;
}

a:hover {
    color: #6cbdda;
}

@media only screen and (max-height: 30rem) {
    .container {
        padding-top: 0;
    }
}

@media only screen and (max-width: 40rem) {
    .container {
        justify-content: flex-start;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .content {
        width: 100%;
    }
}
